<h1>Shopify Backend</h1>

<h4>by Samuel Gerges</h4>
<a class="btn btn-primary"  href="/inventory">
    Inventory
</a>    
<p>This project was created for Shopify Backend Intern Challenge</p>
<a class="btn btn-dark" href="https://github.com/samGerges/ShopifyBackend">Github Files</a>