
<div class="msg-container">
    <%- messages("message", locals) %>
</div>
<h1>Inventory</h1>
<h3>Items</h3>
<table >
    <tr>
        <td><button class="btn btn-primary" onclick=exportInventory()>Export Current Inventory</button></td>
        <td><button class="btn btn-primary" onclick=exportHistory()>Export Transactions History</button></td>
    </tr>
</table>
<table class="table">
    <tr>
        <th scope="row">Name</th>
        <th scope="row">Amount</th>
        <th></th>
    </tr>
    <% for(let item of items){%>
        <tr>
            <td><%= item.name %> </td>
            <td><%= item.amount %> </td>
            <td><a href="/inventory/edit?id=<%=item._id%> ">edit</a></td>
        </tr>
    <%}%>
</table>

<h3>Add Shipment Record</h3>
<form action="/inventory/add" method="post">
    <div class="mb-3">
        <label class="form-label" for="name">Product Name</label>
        <input class="form-control" type="text" name="name">
    </div>
    
    <div class="mb-3">
        <label class="form-label" for="amount">Amount Recieved</label>
        <input class="form-control" type="number" name="amount"> 
    </div>
    
    <div class="mb-3">
        <input class="btn btn-primary" type="submit" value="Add">
    </div>
    
</form>

<h3>Add Sales Record</h3>
<form action="/inventory/sales" method="post">
    <div class="mb-3">
        <label class="form-label" for="name">Product Name</label>
        <input class="form-control" type="text" name="name">
    </div>
    
    <div class="mb-3">
        <label class="form-label" for="amount">Amount Sold</label>
        <input class="form-control" type="number" name="amount"> 
    </div>
    
    <div class="mb-3">
        <input class="btn btn-primary" type="submit" value="Decrease">
    </div>
</form>
